<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="UFT-8">
     <meta http-equiv="X-UA-Compatible"  content="IE-Edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" >
  </head>

   <body>
    <div >
        <center><img src="https://tse2.mm.bing.net/th?id=OIP.yjKeh80lD4mC1qgEA0MPkgHaHa&pid=Api&P=0"  height="650" width="650" alt="MERCADIN LOS MEJORES PRODUCTOS DE CALIDAD"></center>
    </div>
   <section class="container my-5">
		<h2 class="text-center"><font color="black" face="Arial">Productos Basicos</font></h2>
		<div class="row mt-4">
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="https://www.imferblog.com/wp-content/uploads/2015/11/frutas-y-verduras.jpg" alt="frutas y Verduras">
					<div class="card-body">
						<h5 class="card-title">Frutas Y Verduras</h5>
						<a href="#" class="btn btn-primary">Más Información</a>
					</div>
				</div>
			</div>
   </section>       
      <section class="container my-5">
		   <div class="row mt-4">
			   <div class="col-md-4">
				   <div class="card">
					   <img class="card-img-top" src="https://tse4.mm.bing.net/th?id=OIP.Tf-WTFhzSwuWOI-Rj8f4DwHaD4&pid=Api&P=0" alt="Productos de Limpieza para el Hogar">
					   <div class="card-body">
						   <h5 class="card-title">Limpieza del Hogar</h5>
						   <a href="#" class="btn btn-primary">Más Información</a>
					   </div>
				   </div>
			   </div>
         </div>
      </section>   
      <section class="container my-5"> 
         <div class="row mt-4">
			   <div class="col-md-4">
				   <div class="card">
					   <center><img class="card-img-top" src="https://tse2.mm.bing.net/th?id=OIP.5nWRtdGJfbbQR-w6bQKS8gHaEK&pid=Api&P=0" alt="Electrodomesticos"></center>
					   <div class="card-body">
						  <h5 class="card-title"> Electrodomesticos</h5>
						  <a href="#" class="btn btn-primary">Más Información</a>
					   </div>
				   </div>
			   </div>
         </div>
      </section>      
   </body>  
</html>